examples/WaveformGenerator/NodeRed/WaveformGenerator.flows.json
[
    {
        "id": "wtab",
        "type": "tab",
        "label": "Waveform Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dbase",
        "type": "ui-base",
        "name": "Loggbok",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "dtheme",
        "type": "ui-theme",
        "name": "Loggbok Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "dpage",
        "type": "ui-page",
        "name": "Waveform",
        "ui": "dbase",
        "path": "/",
        "icon": "home",
        "layout": "grid",
        "theme": "dtheme",
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "dgrp_route",
        "type": "ui-group",
        "name": "Topic routing",
        "page": "dpage",
        "width": 12,
        "height": 1,
        "order": 0,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "dgrp_chart",
        "type": "ui-group",
        "name": "Live output",
        "page": "dpage",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "dgrp_state",
        "type": "ui-group",
        "name": "Reported state",
        "page": "dpage",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "dgrp_ctrl",
        "type": "ui-group",
        "name": "Controls",
        "page": "dpage",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "wbroker",
        "type": "mqtt-broker",
        "name": "local",
        "broker": "127.0.0.1",
        "port": "1884",
        "clientid": "node-red-wave",
        "autoConnect": true,
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "num_out",
        "type": "change",
        "z": "wtab",
        "name": "to number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Output",
                "tot": "str"
            }
        ],
        "x": 300,
        "y": 60,
        "wires": [
            [
                "chart"
            ]
        ]
    },
    {
        "id": "chart",
        "type": "ui-chart",
        "z": "wtab",
        "group": "dgrp_chart",
        "name": "Output",
        "label": "Output",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "string",
        "line": "",
        "interpolation": "linear",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 0,
        "showLegend": false,
        "removeOlder": "30",
        "removeOlderUnit": "1",
        "removeOlderPoints": "",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "textColorDefault": true,
        "textColor": [
            "#666666"
        ],
        "gridColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "width": 0,
        "height": 8,
        "className": "",
        "x": 480,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "t_freq",
        "type": "ui-text",
        "z": "wtab",
        "group": "dgrp_state",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Freq",
        "label": "Frequency",
        "format": "{{msg.payload}} Hz",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "t_amp",
        "type": "ui-text",
        "z": "wtab",
        "group": "dgrp_state",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Amp",
        "label": "Amplitude",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "t_off",
        "type": "ui-text",
        "z": "wtab",
        "group": "dgrp_state",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Offset",
        "label": "Offset",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "m_wave",
        "type": "change",
        "z": "wtab",
        "name": "map wave",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload = \"0\" ? \"Sine\" : payload = \"1\" ? \"Square\" : payload = \"2\" ? \"Triangle\" : payload = \"3\" ? \"Sawtooth\" : payload",
                "tot": "jsonata"
            }
        ],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "t_wave"
            ]
        ]
    },
    {
        "id": "t_wave",
        "type": "ui-text",
        "z": "wtab",
        "group": "dgrp_state",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Wave",
        "label": "Waveform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "m_en",
        "type": "change",
        "z": "wtab",
        "name": "map en",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload = \"1\" ? \"ON\" : \"OFF\"",
                "tot": "jsonata"
            }
        ],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "t_en"
            ]
        ]
    },
    {
        "id": "t_en",
        "type": "ui-text",
        "z": "wtab",
        "group": "dgrp_state",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "En",
        "label": "Output",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "sl_freq",
        "type": "ui-slider",
        "z": "wtab",
        "group": "dgrp_ctrl",
        "name": "Freq",
        "label": "Frequency (Hz)",
        "tooltip": "",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0.01,
        "max": 1,
        "step": 0.01,
        "showLabel": true,
        "showValue": true,
        "iconLeft": "",
        "iconRight": "",
        "thumbLabel": true,
        "className": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "fn_freq"
            ]
        ]
    },
    {
        "id": "out_freq",
        "type": "mqtt out",
        "z": "wtab",
        "name": "SET_FREQ",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "wbroker",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "sl_amp",
        "type": "ui-slider",
        "z": "wtab",
        "group": "dgrp_ctrl",
        "name": "Amp",
        "label": "Amplitude",
        "tooltip": "",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "showLabel": true,
        "showValue": true,
        "iconLeft": "",
        "iconRight": "",
        "thumbLabel": true,
        "className": "",
        "x": 120,
        "y": 450,
        "wires": [
            [
                "fn_amp"
            ]
        ]
    },
    {
        "id": "out_amp",
        "type": "mqtt out",
        "z": "wtab",
        "name": "SET_AMP",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "wbroker",
        "x": 760,
        "y": 450,
        "wires": []
    },
    {
        "id": "sl_off",
        "type": "ui-slider",
        "z": "wtab",
        "group": "dgrp_ctrl",
        "name": "Offset",
        "label": "Offset",
        "tooltip": "",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": -5,
        "max": 5,
        "step": 0.5,
        "showLabel": true,
        "showValue": true,
        "iconLeft": "",
        "iconRight": "",
        "thumbLabel": true,
        "className": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "fn_off"
            ]
        ]
    },
    {
        "id": "out_off",
        "type": "mqtt out",
        "z": "wtab",
        "name": "SET_OFFSET",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "wbroker",
        "x": 760,
        "y": 500,
        "wires": []
    },
    {
        "id": "b_sine",
        "type": "ui-button",
        "z": "wtab",
        "group": "dgrp_ctrl",
        "name": "Sine",
        "label": "Sine",
        "order": 4,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "fn_wave"
            ]
        ]
    },
    {
        "id": "b_sq",
        "type": "ui-button",
        "z": "wtab",
        "group": "dgrp_ctrl",
        "name": "Square",
        "label": "Square",
        "order": 5,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "fn_wave"
            ]
        ]
    },
    {
        "id": "b_tri",
        "type": "ui-button",
        "z": "wtab",
        "group": "dgrp_ctrl",
        "name": "Triangle",
        "label": "Triangle",
        "order": 6,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "fn_wave"
            ]
        ]
    },
    {
        "id": "b_saw",
        "type": "ui-button",
        "z": "wtab",
        "group": "dgrp_ctrl",
        "name": "Sawtooth",
        "label": "Sawtooth",
        "order": 7,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "3",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "fn_wave"
            ]
        ]
    },
    {
        "id": "out_wave",
        "type": "mqtt out",
        "z": "wtab",
        "name": "SET_WAVE",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "wbroker",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "sw_en",
        "type": "ui-switch",
        "z": "wtab",
        "group": "dgrp_ctrl",
        "name": "Enable",
        "label": "Output ON/OFF",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 730,
        "wires": [
            [
                "fn_en"
            ]
        ]
    },
    {
        "id": "out_en",
        "type": "mqtt out",
        "z": "wtab",
        "name": "SET_ENABLE",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "wbroker",
        "x": 760,
        "y": 730,
        "wires": []
    },
    {
        "id": "in_all",
        "type": "mqtt in",
        "z": "wtab",
        "name": "All (#)",
        "topic": "#",
        "qos": "0",
        "datatype": "utf8",
        "broker": "wbroker",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "route_fn"
            ]
        ]
    },
    {
        "id": "route_fn",
        "type": "function",
        "z": "wtab",
        "name": "route by base topic",
        "func": "const base = (flow.get('stateTopic') || 'loggbok/wave').trim();\nconst t = msg.topic || '';\nconst sigs = ['Output','Frequency','Amplitude','Offset','Waveform','Enabled'];\nfor (let i = 0; i < sigs.length; i++) {\n    if (t === base + '/' + sigs[i]) {\n        const out = new Array(sigs.length).fill(null);\n        out[i] = msg;\n        return out;\n    }\n}\nreturn null;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            [
                "num_out"
            ],
            [
                "t_freq",
                "sl_freq"
            ],
            [
                "t_amp",
                "sl_amp"
            ],
            [
                "t_off",
                "sl_off"
            ],
            [
                "m_wave"
            ],
            [
                "m_en",
                "sw_en"
            ]
        ]
    },
    {
        "id": "fn_freq",
        "type": "function",
        "z": "wtab",
        "name": "SET_FREQ",
        "func": "const mode = flow.get('cmdMode') || 'Same as state topic';\nconst eff = (mode === 'Custom'\n    ? (flow.get('cmdTopic') || '')\n    : (flow.get('stateTopic') || 'loggbok/wave')).trim();\nif (!eff || eff.indexOf(',') >= 0) { return null; }\nmsg.topic = eff + '/_cmd/SET_FREQ';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "out_freq"
            ]
        ]
    },
    {
        "id": "fn_amp",
        "type": "function",
        "z": "wtab",
        "name": "SET_AMP",
        "func": "const mode = flow.get('cmdMode') || 'Same as state topic';\nconst eff = (mode === 'Custom'\n    ? (flow.get('cmdTopic') || '')\n    : (flow.get('stateTopic') || 'loggbok/wave')).trim();\nif (!eff || eff.indexOf(',') >= 0) { return null; }\nmsg.topic = eff + '/_cmd/SET_AMP';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 450,
        "wires": [
            [
                "out_amp"
            ]
        ]
    },
    {
        "id": "fn_off",
        "type": "function",
        "z": "wtab",
        "name": "SET_OFFSET",
        "func": "const mode = flow.get('cmdMode') || 'Same as state topic';\nconst eff = (mode === 'Custom'\n    ? (flow.get('cmdTopic') || '')\n    : (flow.get('stateTopic') || 'loggbok/wave')).trim();\nif (!eff || eff.indexOf(',') >= 0) { return null; }\nmsg.topic = eff + '/_cmd/SET_OFFSET';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "out_off"
            ]
        ]
    },
    {
        "id": "fn_wave",
        "type": "function",
        "z": "wtab",
        "name": "SET_WAVE",
        "func": "const mode = flow.get('cmdMode') || 'Same as state topic';\nconst eff = (mode === 'Custom'\n    ? (flow.get('cmdTopic') || '')\n    : (flow.get('stateTopic') || 'loggbok/wave')).trim();\nif (!eff || eff.indexOf(',') >= 0) { return null; }\nmsg.topic = eff + '/_cmd/SET_WAVE';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 640,
        "wires": [
            [
                "out_wave"
            ]
        ]
    },
    {
        "id": "fn_en",
        "type": "function",
        "z": "wtab",
        "name": "SET_ENABLE",
        "func": "const mode = flow.get('cmdMode') || 'Same as state topic';\nconst eff = (mode === 'Custom'\n    ? (flow.get('cmdTopic') || '')\n    : (flow.get('stateTopic') || 'loggbok/wave')).trim();\nif (!eff || eff.indexOf(',') >= 0) { return null; }\nmsg.topic = eff + '/_cmd/SET_ENABLE';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 730,
        "wires": [
            [
                "out_en"
            ]
        ]
    },
    {
        "id": "ti_state",
        "type": "ui-text-input",
        "z": "wtab",
        "group": "dgrp_route",
        "name": "State topic",
        "label": "State topic",
        "order": 1,
        "width": 6,
        "height": 1,
        "tooltip": "",
        "mode": "text",
        "delay": "300",
        "topic": "",
        "topicType": "str",
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "fn_state"
            ]
        ]
    },
    {
        "id": "dd_mode",
        "type": "ui-dropdown",
        "z": "wtab",
        "group": "dgrp_route",
        "name": "Command topic mode",
        "label": "Command topic mode",
        "order": 2,
        "width": 6,
        "height": 1,
        "tooltip": "",
        "place": "Select",
        "multiple": false,
        "options": [
            {
                "label": "Same as state topic",
                "value": "Same as state topic",
                "type": "str"
            },
            {
                "label": "Custom",
                "value": "Custom",
                "type": "str"
            }
        ],
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 130,
        "y": 870,
        "wires": [
            [
                "fn_mode"
            ]
        ]
    },
    {
        "id": "ti_cmd",
        "type": "ui-text-input",
        "z": "wtab",
        "group": "dgrp_route",
        "name": "Command topic",
        "label": "Command topic",
        "order": 3,
        "width": 6,
        "height": 1,
        "tooltip": "",
        "mode": "text",
        "delay": "300",
        "topic": "",
        "topicType": "str",
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "fn_cmd"
            ]
        ]
    },
    {
        "id": "t_eff",
        "type": "ui-text",
        "z": "wtab",
        "group": "dgrp_route",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Effective cmd",
        "label": "Effective command topic",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "className": "",
        "x": 560,
        "y": 870,
        "wires": []
    },
    {
        "id": "fn_state",
        "type": "function",
        "z": "wtab",
        "name": "set stateTopic",
        "func": "flow.set('stateTopic', (msg.payload || '').trim());\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 820,
        "wires": [
            [
                "fn_eff"
            ]
        ]
    },
    {
        "id": "fn_mode",
        "type": "function",
        "z": "wtab",
        "name": "set cmdMode",
        "func": "flow.set('cmdMode', msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 920,
        "wires": [
            [
                "fn_eff"
            ]
        ]
    },
    {
        "id": "fn_cmd",
        "type": "function",
        "z": "wtab",
        "name": "set cmdTopic",
        "func": "flow.set('cmdTopic', (msg.payload || '').trim());\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 970,
        "wires": [
            [
                "fn_eff"
            ]
        ]
    },
    {
        "id": "fn_eff",
        "type": "function",
        "z": "wtab",
        "name": "effective cmd topic",
        "func": "const mode = flow.get('cmdMode') || 'Same as state topic';\nconst eff = (mode === 'Custom'\n    ? (flow.get('cmdTopic') || '')\n    : (flow.get('stateTopic') || 'loggbok/wave')).trim();\nflow.set('effTopic', eff);\nreturn { payload: eff };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 870,
        "wires": [
            [
                "t_eff"
            ]
        ]
    },
    {
        "id": "init_inject",
        "type": "inject",
        "z": "wtab",
        "name": "on startup",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 770,
        "wires": [
            [
                "fn_init"
            ]
        ]
    },
    {
        "id": "fn_init",
        "type": "function",
        "z": "wtab",
        "name": "defaults",
        "func": "if (flow.get('stateTopic') === undefined) flow.set('stateTopic', 'loggbok/wave');\nif (flow.get('cmdMode') === undefined) flow.set('cmdMode', 'Same as state topic');\nif (flow.get('cmdTopic') === undefined) flow.set('cmdTopic', 'loggbok/wave');\nreturn [\n    { payload: flow.get('stateTopic') },\n    { payload: flow.get('cmdMode') },\n    { payload: flow.get('cmdTopic') },\n    { payload: flow.get('effTopic') || flow.get('stateTopic') }\n];\n",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 770,
        "wires": [
            [
                "ti_state"
            ],
            [
                "dd_mode"
            ],
            [
                "ti_cmd"
            ],
            [
                "t_eff"
            ]
        ]
    }
]
